* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: Inter, system-ui, sans-serif;
    background: #f1f5f9;
  }
  
  .app {
    display: flex;
    height: 100vh;
    padding: 16px;
    gap: 16px;
  }
  
  .left-panel {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    background: #000;
  }
  
  .viewer-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Font putih */
   
  }
  
  .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 0; 
  }
  .right-top {
    flex: 1;
    display: flex;
    min-height: 0; 
  }
  
  .counts {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; 
  }
  
  .right-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    flex: 1;
    border: none;
    border-radius: 20px;
    font-size: 3vw;
    font-weight: 700;
    cursor: pointer;
    min-height: 2rem;
    padding: 2rem;
  }
  
  .btn.next {
    background: linear-gradient(160deg, #3b82f6, #2563eb);
    color: white;
  }
  
  .btn.stop {
    background: linear-gradient(160deg, #24980c, #0a9805);
    color: white;
  }
  
.swal-confirm-btn-large {
  padding: 20px 60px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.swal-confirm-btn-large:hover {
  background-color: #2563eb;
}

.swal-confirm-btn-large {
  padding: 20px 60px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.swal-confirm-btn-large:hover {
  background-color: #2563eb;
}

.btn:disabled,
.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed; /* Font putih */
  pointer-events: none;
}

.btn.reset {
  background: linear-gradient(135deg, #ff0000, #ff0000);
  box-shadow: 0 4px 12px rgba(245, 158, 11, 0.4);
  color: #ffffff;
}

.btn.reset:hover:not(:disabled) {
  background: linear-gradient(135deg, #ff0000, #ff0000); /* Font putih */
  box-shadow: 0 6px 16px rgba(245, 158, 11, 0.5);
  color: #ffffff;
}

.btn.reset:disabled { /* Font putih */
  background: linear-gradient(135deg, #f12020, #f51d1d);
  opacity: 0.5;
  color: #ffffff;
}

.btn-small {
  padding: 22px 60px;
  font-size: 26px;
  min-width: 100px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn.next:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}